@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamic-full-height {
  height: 100dvh;
}

@media (min-height: 2000px) {
  .wide-screen-height {
    height: 35dvh !important;
  }
  .wide-screen-height-logo {
    height: 10dvh !important;
  }
  .custom-border {
    border-width: 0 1px 8px 1px; /* top, right, bottom, left */
    border-style: solid; /* Applies to all borders */
  }
}

.message-alert {
  top: 0px;
  transition: all 500ms ease;
  z-index: -1;
}

.message-alert-active {
  top: -18px !important;
}
